{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <h1>Editez le Trick</h1>
                <p> Choisissez votre image principale</p>
        </div>
            <div class="container-fluid">
                <div class="row">
                    {% for m in media %}
                        <div class="col-md-2">
                            {% if m.type == "picture" %}
                                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 150px; width: 100%; display: block;" src={{ m.source }} data-holder-rendered="true">
                            {% else %}
                                <iframe width="350" height="150" src={{ m.source }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}                            
                            {% if m.main %}
                                <button class="btn btn-primary btn-sm pull-right">Ceci est l'image principale</button>
                            {% else %}
                                <a href="{{ path('app_media_main', {'id' : m.id }) }}" class="btn btn-primary btn-lg active" role="button">Devenir Principale</a>
                            {% endif %}
                            <form action="{{ path('app_media_delete', {'id' : m.id }) }}">
                                <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                </div>
                <div class="col-md-4 text-center">
                    <br>
                    {{ include('trick/_trick_form.html.twig', {'button_label': 'Valider'}) }}        
                    <br>
                    <form action="{{ path('app_trick_delete', {'id' : trick.id }) }}">
                        <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                    </form>
                    <br>
                    <a href="{{ path('app_trick_index') }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">Retour à la liste</a>
                </div>
            </div>

    {% else %}
        <h1>Vous devez être connecter pour accéder à cette page</h1>
    {% endif %}
{% endblock %}
