{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid" src="img/home.jpg" alt="">       
    </div>

    <div class="album-tricks py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for trick in tricks %}
                    <div class="col-md-3">
                        <div class="card mb-3 shadow-sm">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{ trick.media[0].source }} data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}">{{ trick.name }}</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_trick_delete', {'id': trick.id}) }}">Supprimer</a></button>
                                </p>                                        
                            </div>
                        </div>
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% if app.user %}
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ path('app_trick_new') }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">Ajouter un Trick !</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
