{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
            <h1>Trick</h1>
            {% if mediaMain.type == "picture" %}
                <img class="img-fluid" src={{ mediaMain.source}}>
            {% else %}
                <iframe width="350" height="150" src={{ mediaMain.source }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
            {% endif %}
        </div>    
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            {% for m in media %}
                {% if m.type == "picture" %}
                    <div class="col-md-2">
                        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 150px; width: 100%; display: block;" src={{ m.source }} data-holder-rendered="true">
                    </div>
                {% else %}
                    <div class="col-md-2">
                    <iframe width="350" height="150" src={{ m.source }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container py-5 ">
        <div class="row bg-light">
            <div class="col-md-12">
                <p>
                    {{ trick.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="row py-2">
                    <div class="col-md-4">
                        <p>
                            {{ trick.category }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            {{ trick.user }}
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            <div>
        </div>
    </div>
    <p>
        <HR NOSHADE>
    </p>
    <div class="container py-5">
        {% if app.user %}
            {{ include('trick/_comment_form.html.twig') }}
        
    </div>
    <p>
        <HR NOSHADE>
    </p>
        {% endif %}
    {% for comment in trick.comments %}
        <div class="container p-4">
            {{ comment.content }}   
        </div>
        <p>
        <HR NOSHADE>
        </p>
    {% endfor %}
        
    <div class="col-md-12 text-center">
        {% if app.user %}
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_trick_edit', {'id': trick.id}) }}">edit</a></button>
            {{ include('trick/_delete_form.html.twig') }}
    </div>
        {% endif %}

{% endblock %}
